<?xml version="1.0"?>
<launch>

	<!-- arg to config the launch file-->

	<!--launch_navigation and launch_navigation_nomap args are exclusive
	and they are (or not) launched for all robots-->
	<arg name="launch_rviz" default="true"/>
	<arg name="gazebo_world" default="$(find summit_xl_gazebo)/worlds/summit_xl_office.world"/>
	
	<!-- arguments robot a -->
	<arg name="launch_robot_a" default="true"/>
	<arg name="map_file_a" default="willow_garage/willow_garage.yaml"/>
	<arg name="localization_robot_a" default="true"/>
	<arg name="gmapping_robot_a" default="false"/>
	<arg name="move_base_robot_a" default="false"/>
	<arg name="amcl_and_mapserver_a" default="false"/>
	
	<!-- arguments robot b -->
	<arg name="launch_robot_b" default="false"/>
	<arg name="map_file_b" default="willow_garage/willow_garage.yaml"/>
	<arg name="localization_robot_b" default="true"/>
	<arg name="gmapping_robot_b" default="false"/>
	<arg name="move_base_robot_b" default="false"/>
	<arg name="amcl_and_mapserver_b" default="false"/>
	
	<!-- arguments robot c -->
	<arg name="launch_robot_c" default="false"/>
	<arg name="map_file_c" default="willow_garage/willow_garage.yaml"/>
	<arg name="localization_robot_c" default="true"/>
	<arg name="gmapping_robot_c" default="false"/>
	<arg name="move_base_robot_c" default="false"/>
	<arg name="amcl_and_mapserver_c" default="false"/>


	<include file="$(find summit_xl_gazebo)/launch/summit_xl_gazebo.launch">
		<!-- general args -->
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
		<arg name="gazebo_world" value="$(arg gazebo_world)"/>
		<!-- robot_a args -->
		<arg name="launch_robot_a" value="$(arg launch_robot_a)"/>
		<arg name="map_file_a" value="$(arg map_file_a)"/>
		<arg name="localization_robot_a" value="$(arg localization_robot_a)"/>
		<arg name="gmapping_robot_a" value="$(arg gmapping_robot_a)"/>
		<arg name="move_base_robot_a" value="$(arg move_base_robot_a)"/>
		<arg name="amcl_and_mapserver_a" value="$(arg amcl_and_mapserver_a)"/>
		<!-- robot_b args -->
		<arg name="launch_robot_b" value="$(arg launch_robot_b)"/>
		<arg name="localization_robot_b" value="$(arg localization_robot_b)"/>
		<arg name="gmapping_robot_b" value="$(arg gmapping_robot_b)"/>
		<arg name="move_base_robot_b" value="$(arg move_base_robot_b)"/>
		<arg name="amcl_and_mapserver_b" value="$(arg amcl_and_mapserver_b)"/>
		<arg name="map_file_b" value="$(arg map_file_b)"/>
		<!-- robot_c args -->
		<arg name="launch_robot_c" value="$(arg launch_robot_c)"/>
		<arg name="localization_robot_c" value="$(arg localization_robot_c)"/>
		<arg name="gmapping_robot_c" value="$(arg gmapping_robot_c)"/>
		<arg name="move_base_robot_c" value="$(arg move_base_robot_c)"/>
		<arg name="amcl_and_mapserver_c" value="$(arg amcl_and_mapserver_c)"/>
		<arg name="map_file_c" value="$(arg map_file_c)"/>
	</include>


</launch>
