<?xml version="1.0"?>
<launch>
  <!-- start world -->
  <include file="$(find summit_xl_description)/launch/robotnik/robotnik.launch"/>

  <!-- start controller manager -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

  <!-- send summit_xl.urdf to param server -->
  <param name="robot_description" textfile="$(find summit_xl_description)/urdf/summit_xl.urdf" />
  <!-- param name="robot_description" textfile="$(find summit_xl_description)/urdf/summit_xl_nocam.urdf" / -->

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_object" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -x 0.0 -y 0.0 -z 0.5 -model summit_xl" respawn="false" output="screen" />

  <!--summit_controller.yaml-->
  <rosparam file="$(find summit_xl_ctrl)/summit_xl_ctrl.yaml" command="load"/>

  <param name="pr2_controller_manager/joint_state_publish_rate" value="100.0" />
  
  <!-- spawn_summit_xl_ctrl/ -->
  <node name="summit_xl_ctrl" pkg="pr2_controller_manager" type="spawner" args="summit_xl_ctrl" respawn="false" output="screen"/>
  	
</launch>
