<?xml version="1.0"?>
<launch>

  <!-- send summit_xl.urdf to param server -->
  <!-- param name="robot_description" textfile="$(find summit_xl_description)/urdf/summit_xl.urdf" / -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find summit_xl_description)/urdf/summit_xl.urdf.xacro'" />

  <!-- publish tfs through the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" >
      <remap from="/robot_description" to="/different_robot_description" />
      <remap from="/joint_states" to="/different_joint_states" />
  </node -->
</launch>
