<?xml version="1.0"?>
<model>
  <name>summit_xl</name>
  <version>1.0</version>
  <sdf>sdf/summit_xl.sdf</sdf>  <!-- version -->
  <author>
    <name>Roberto Guzman</name>
    <email>rguzman@robotnik.es</email>
  </author>
  <description>
    A model of the Summit XL indoor / outdoor UGV
  </description>
  <depend>
  </depend>
</model>
