<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <!-- ros_control skid steer plugin -->
  <xacro:macro name="summit_xl_skid_gazebo">
    <gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/summit_xl</robotNamespace>
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.003</controlPeriod>
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
		<robotNamespace>/summit_xl</robotNamespace>
	    <updateRate>100.0</updateRate>
	    <leftFrontJoint>joint_front_left_wheel</leftFrontJoint>  
	    <rightFrontJoint>joint_front_right_wheel</rightFrontJoint>
	    <leftRearJoint>joint_back_left_wheel</leftRearJoint>
	    <rightRearJoint>joint_back_right_wheel</rightRearJoint>
	    <wheelSeparation>0.472</wheelSeparation>
	    <wheelDiameter>0.125</wheelDiameter>
	    <robotBaseFrame>base_footprint</robotBaseFrame>
	    <torque>25</torque>
	    <topicName>cmd_vel</topicName>
	    <commandTopic>summit_xl_robot_control/command</commandTopic>
	    <odometryTopic>odom</odometryTopic>
	    <odometryFrame>/odom</odometryFrame>
	    <broadcastTF>true</broadcastTF>
      </plugin>
    </gazebo>
  </xacro:macro>




  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>
  
  <gazebo reference="base_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="logos_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="covers_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  

</robot>
