<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find summit_xl_2dnav)/maps/willow_garage/willow_garage.yaml"/>

	<!-- Throttle the voxel grid that is being published for rviz -->
	<node ns="move_base_node/local_costmap" name="voxel_grid_throttle" pkg="topic_tools" type="throttle" args="messages voxel_grid 3.0 voxel_grid_throttled" />

	<!-- for moving -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<remap from="scan" to="/hokuyo/scan"/>
		<!-- remap from="cmd_vel" to="summit_xl_robot_control/command" / -->  <!-- use topic for summit_xl_robot_control package -->
		<remap from="cmd_vel" to="summit_xl/robot_control/command" />     <!-- use topic for gazebo plugin -->
        
		<remap from="odom" to="summit_xl/odom" />

		<!-- move_base params -->
		<rosparam file="$(find summit_xl_2dnav)/navigation_config/move_base_params.yaml" command="load" />
		<rosparam file="$(find summit_xl_2dnav)/navigation_config/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find summit_xl_2dnav)/navigation_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find summit_xl_2dnav)/navigation_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find summit_xl_2dnav)/navigation_config/local_costmap_params.yaml" command="load" />
		
		<!-- move_base local params -->
		<rosparam file="$(find summit_xl_2dnav)/navigation_local/config/global_costmap_params.yaml" command="load" />
	</node>
    
	<!-- Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find summit_xl_2dnav)/config/move_base_local.rviz"/>
</launch>
