ros-${ROS_DISTRO}-amcl
ros-${ROS_DISTRO}-costmap-2d
ros-${ROS_DISTRO}-eband-local-planner
ros-${ROS_DISTRO}-effort-controllers
ros-${ROS_DISTRO}-geographic-msgs
ros-${ROS_DISTRO}-geometric-shapes
ros-${ROS_DISTRO}-global-planner
ros-${ROS_DISTRO}-gmapping
ros-${ROS_DISTRO}-hector-gazebo-plugins
ros-${ROS_DISTRO}-imu-complementary-filter
ros-${ROS_DISTRO}-joint-state-publisher-gui
ros-${ROS_DISTRO}-joy
ros-${ROS_DISTRO}-map-server
ros-${ROS_DISTRO}-mavros-msgs
ros-${ROS_DISTRO}-move-base
ros-${ROS_DISTRO}-moveit-core
ros-${ROS_DISTRO}-moveit-fake-controller-manager
ros-${ROS_DISTRO}-moveit-kinematics
ros-${ROS_DISTRO}-moveit-planners-ompl
ros-${ROS_DISTRO}-moveit-ros-move-group
ros-${ROS_DISTRO}-moveit-ros-perception
ros-${ROS_DISTRO}-moveit-ros-planning-interface
ros-${ROS_DISTRO}-moveit-ros-visualization
ros-${ROS_DISTRO}-moveit-setup-assistant
ros-${ROS_DISTRO}-moveit-simple-controller-manager
ros-${ROS_DISTRO}-pr2-arm-kinematics
ros-${ROS_DISTRO}-pr2-moveit-config
ros-${ROS_DISTRO}-pr2-moveit-plugins
ros-${ROS_DISTRO}-robot-localization
ros-${ROS_DISTRO}-ros-control
ros-${ROS_DISTRO}-ros-controllers
ros-${ROS_DISTRO}-rosbridge-server
ros-${ROS_DISTRO}-teb-local-planner
ros-${ROS_DISTRO}-tf2-web-republisher
ros-${ROS_DISTRO}-topic-tools
ros-${ROS_DISTRO}-twist-mux
ros-${ROS_DISTRO}-velocity-controllers