<?xml version="1.0"?>
<launch>
    <!--arg name="namespace" default=""/-->
    <arg name="prefix_topic" default=""/>
    <arg name="prefix_frame" default=""/>
    <arg name="wheel_diameter" default="0.25"/>
    <arg name="distance_between_wheels" default="1.0"/>
    <arg name="publish_odom_tf" default="true"/>
    <arg name="publish_odom_msg" default="true"/>
    <arg name="robot_model" default="summit_xl"/>
	
	<node name="summit_xl_controller" pkg="summit_xl_robot_control" type="summit_xl_robot_control" output="screen">
		<param name="model" value="$(arg robot_model)"/>
		<param name="frw_vel_topic" value="joint_frw_velocity_controller/command"/>
		<param name="flw_vel_topic" value="joint_flw_velocity_controller/command"/>
		<param name="blw_vel_topic" value="joint_blw_velocity_controller/command"/>
		<param name="brw_vel_topic" value="joint_brw_velocity_controller/command"/>

                <param name="joint_front_right_wheel" value="$(arg prefix_frame)front_right_wheel_joint"/>
                <param name="joint_front_left_wheel" value="$(arg prefix_frame)front_left_wheel_joint"/>
                <param name="joint_back_left_wheel" value="$(arg prefix_frame)back_left_wheel_joint"/>
                <param name="joint_back_right_wheel" value="$(arg prefix_frame)back_right_wheel_joint"/>

		<param name="summit_xl_wheel_diameter" value="$(arg wheel_diameter)"/>
		<param name="summit_xl_d_tracks_m" value="$(arg distance_between_wheels)"/>
		<param name="publish_odom_tf" value="$(arg publish_odom_tf)"/>
		<param name="publish_odom_msg" value="$(arg publish_odom_msg)"/>
		<param name="odom_frame_id" value="$(arg prefix_frame)odom"/>
		<param name="base_frame_id" value="$(arg prefix_frame)base_footprint"/>
		<param name="imu_topic_name" value="$(arg prefix_topic)imu/data"/>

		<!--param name="odom_frame_id" value="$(arg namespace)odom"/>
                <param name="base_frame_id" value="$(arg namespace)base_footprint"/>
                <param name="imu_topic_name" value="$(arg namespace)imu/data"/-->

		<!--remap from='odom' to='$(arg namespace)/odom'/-->
	</node>
  
  
</launch>


