<?xml version="1.0"?>
<launch>

  <!-- General control parameter file -->
  <rosparam command="load" file="$(find summit_xl_robot_control)/config/summit_xl_robot_control.yaml" />

  <!-- Model specific parameter file -->
  <rosparam command="load" file="$(find summit_xl_robot_control)/config/x_wam.yaml"/>

  <node name="summit_xl_robot_control" pkg="summit_xl_robot_control" type="summit_xl_robot_control" output="screen"/>
  
</launch>


