<?xml version="1.0"?>
<launch>

  <!-- gazebo world -->
  <include file="$(find summit_xl_gazebo)/launch/summit_xl_hq.launch"/>

   <!-- summit_xl_2dnav - move_base_local -->
   <include file="$(find summit_xl_2dnav)/navigation_local/move_base_local.launch"/>
   <!-- include file="$(find summit_xl_2dnav)/navigation_local/move_base_local_ekf.launch"/ -->

</launch>

