<?xml version="1.0"?>
<launch>

  <!-- gazebo world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- robotnik office environment -->
  <include file="$(find summit_xl_description)/launch/robotnik/robotnik2013.launch"/>

  <!-- summit_xl_description -->
  <include file="$(find summit_xl_description)/launch/summit_xl.launch"/>

   <!-- summit_xl_2dnav - robot configuration (odometry) -->
   <include file="$(find summit_xl_2dnav)/summit_xl_configuration.launch"/>

   <!-- summit_xl_2dnav - gmapping -->
   <include file="$(find summit_xl_2dnav)/summit_xl_gmapping.launch"/>

   <!-- summit_xl_2dnav - move_base_local -->
   <include file="$(find summit_xl_2dnav)/navigation_local/move_base_local.launch"/>

</launch>

