<?xml version="1.0"?>
<launch>

  <!-- gazebo world -->
  <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch"/>

  <!-- summit_xl_description -->
  <include file="$(find summit_xl_description)/launch/summit_xl.launch"/>

  <!-- summit_xl_2dnav - robot configuration (odometry) -->
  <include file="$(find summit_xl_2dnav)/summit_xl_configuration.launch"/>

  <!-- summit_xl_2dnav - move_base_local -->
  <include file="$(find summit_xl_2dnav)/navigation_local/move_base_local.launch"/>

</launch>

