<?xml version="1.0"?>
<launch>

	<!-- roslaunch arguments -->
	<arg name="debug" default="false"/>
	<arg name="gazebo_gui" default="true"/>
	<arg name="launch_rviz" default="false"/>
	<arg name="world" default="$(find summit_xl_gazebo)/worlds/summit_xl.world"/>
	<!-- located in summit_xl_gazebo/worlds -->
	<arg name="file_rviz" default="summitxl_a"/>
	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="gui" value="$(arg gazebo_gui)"/>
	</include>

	<!-- launch rviz -->
	<node if="$(arg launch_rviz)" name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find summit_xl_gazebo)/rviz/$(arg file_rviz).rviz"/>



</launch>
