<?xml version="1.0"?>
<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		   <param name="destination_frame" value="/base_link"/>
		   <param name="cloud_destination_topic" value="/merged_cloud"/>
		   <param name="scan_destination_topic" value="/scan_multi"/>
		   <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
           <param name="laserscan_topics" value ="/hokuyo_front/scan /hokuyo_rear/scan" /> 
           <param name="angle_min" value="-3.14"/>
           <param name="angle_max" value="3.14" />
           <!-- param name="angle_increment" value="0.0058" / -->
           <!-- param name="time_increment" value="0.0" / -->
           <param name="scan_time" value="0.025" />
           <param name="range_min" value="0.25" />
           <param name="range_max" value="50.0" />
	    </node>
</launch>
