<?xml version="1.0"?>
<launch>

    <!-- arg to config the launch file-->

    <!--launch_navigation and launch_navigation_nomap args are exclusive
    and they are (or not) launched for all robots-->
    <arg name="launch_rviz" default="true"/>
    <arg name="launch_robot_a" default="true"/>
    <arg name="launch_robot_b" default="false"/>
    <arg name="launch_robot_c" default="false"/>
    <arg name="default_xacro_package" default="summit_xl_description"/>
    <arg name="default_xacro" default="summit_xl_std.urdf.xacro"/>
    <arg name="gazebo_world" default="$(find summit_xl_gazebo)/worlds/summit_xl_office.world"/>
	<arg name="gazebo_gui" default="true"/>
    <arg name="map_file" default="willow_garage/willow_garage.yaml"/>
    <arg name="debug" default="false"/>
    <arg name="omni_drive" default="false"/>
    <arg name="ros_planar_move_plugin" default="false"/>
	<arg name="ros_planar_move_plugin_force_based" default="false"/>
    <arg name="launch_advanced_simulation" default="false"/>
    <arg name="use_gpu_for_simulation" default="false"/>

	<!--params of the different robots-->
	<!-- GPS default position of Robotnik at Fuente del Jarro-->
	<!-- robot a -->
	<arg name="id_robot_a" default="robot"/>
	<arg name="x_init_pose_robot_a" default="0" />
	<arg name="y_init_pose_robot_a" default="0" />
	<arg name="z_init_pose_robot_a" default="0" />
    <arg name="ekf_localization_robot_a" default="false"/>
    <arg name="ekf_localization_mode_a" default="odom"/>
	<arg name="gmapping_robot_a" default="false"/>
	<arg name="move_base_robot_a" default="false"/>
	<arg name="amcl_and_mapserver_a" default="false"/>
	<arg name="map_file_a" default="$(arg map_file)"/>
	<arg name="xacro_robot_package_a" default="$(arg default_xacro_package)"/>
	<arg name="xacro_robot_a" default="$(arg default_xacro)"/>
	<arg name="launch_pad_a" default="false"/>
	<arg name="gps_latitude_robot_a" default="39.5080331"/>
	<arg name="gps_longitude_robot_a" default="-0.4619816"/>
    <arg name="has_pantilt_camera_a" default="false"/>
	<!-- arm robot a -->
    <arg name="launch_arm_a" default="false"/>
	<arg name="arm_manufacturer_a" default="trossen"/>
	<arg name="arm_model_a" default="vx300s"/>
    <arg name="launch_moveit_a" default="false"/>

	<!-- robot b -->
	<arg name="id_robot_b" default="robot_b"/>
	<arg name="x_init_pose_robot_b" default="0" />
	<arg name="y_init_pose_robot_b" default="1" />
	<arg name="z_init_pose_robot_b" default="0" />
    <arg name="ekf_localization_robot_b" default="false"/>
    <arg name="ekf_localization_mode_b" default="odom"/>
	<arg name="gmapping_robot_b" default="false"/>
	<arg name="move_base_robot_b" default="false"/>
	<arg name="amcl_and_mapserver_b" default="false"/>
	<arg name="map_file_b" default="$(arg map_file)"/>
	<arg name="xacro_robot_package_b" default="$(arg default_xacro_package)"/>
	<arg name="xacro_robot_b" default="$(arg default_xacro)"/>
	<arg name="launch_pad_b" default="false"/>
	<arg name="gps_latitude_robot_b" default="39.5080331"/>
	<arg name="gps_longitude_robot_b" default="-0.4619816"/>
    <arg name="has_pantilt_camera_b" default="false"/>
	<!-- arm robot b -->
    <arg name="launch_arm_b" default="false"/>
	<arg name="arm_manufacturer_b" default="trossen"/>
	<arg name="arm_model_b" default="vx300s"/>
    <arg name="launch_moveit_b" default="false"/>

	<!-- robot c -->
	<arg name="id_robot_c" default="robot_c"/>
	<arg name="x_init_pose_robot_c" default="0" />
	<arg name="y_init_pose_robot_c" default="2" />
	<arg name="z_init_pose_robot_c" default="0" />
    <arg name="ekf_localization_robot_c" default="false"/>
    <arg name="ekf_localization_mode_c" default="odom"/>
	<arg name="gmapping_robot_c" default="false"/>
	<arg name="move_base_robot_c" default="false"/>
	<arg name="amcl_and_mapserver_c" default="false"/>
	<arg name="map_file_c" default="$(arg map_file)"/>
	<arg name="xacro_robot_package_c" default="$(arg default_xacro_package)"/>
	<arg name="xacro_robot_c" default="$(arg default_xacro)"/>
	<arg name="launch_pad_c" default="false"/>
	<arg name="gps_latitude_robot_c" default="39.5080331"/>
	<arg name="gps_longitude_robot_c" default="-0.4619816"/>
    <arg name="has_pantilt_camera_c" default="false"/>
	<!-- arm robot c -->
    <arg name="launch_arm_c" default="false"/>
	<arg name="arm_manufacturer_c" default="trossen"/>
	<arg name="arm_model_c" default="vx300s"/>
    <arg name="launch_moveit_c" default="false"/>

	<!--BEGIN ROBOT 1-->
	<include if="$(arg launch_robot_a)" file="$(find summit_xl_gazebo)/launch/summit_xl_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_a)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_a)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_a)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_a)"/>
		<arg name="xacro_robot_package" value="$(arg xacro_robot_package_a)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_a)"/>
        <arg name="launch_robot_ekf_localization" value="$(arg ekf_localization_robot_a)"/>
        <arg name="robot_ekf_localization_mode" value="$(arg ekf_localization_mode_a)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_a)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_a)"/>
		<arg name="map_file" value="$(arg map_file_a)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_a)"/>
		<arg name="omni_drive" value="$(arg omni_drive)"/>
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="ros_planar_move_plugin_force_based" value="$(arg ros_planar_move_plugin_force_based)" />
		<arg name="launch_pad" value="$(arg launch_pad_a)"/>
        <arg name="launch_advanced_simulation" value="$(arg launch_advanced_simulation)"/>
        <arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
        <arg name="has_pantilt_camera" value="$(arg has_pantilt_camera_a)"/>
		<arg name="gps_latitude" value="$(arg gps_latitude_robot_a)"/>
		<arg name="gps_longitude" value="$(arg gps_longitude_robot_a)"/>
        <!-- robot_a arm args -->
        <arg name="launch_arm" value="$(arg launch_arm_a)"/>
		<arg name="arm_manufacturer" value="$(arg arm_manufacturer_a)"/>
		<arg name="arm_model" value="$(arg arm_model_a)"/>
		<arg name="launch_moveit" value="$(arg launch_moveit_a)"/>
	</include>

	<!--BEGIN ROBOT 2-->
	<include if="$(arg launch_robot_b)" file="$(find summit_xl_gazebo)/launch/summit_xl_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_b)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_b)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_b)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_b)"/>
		<arg name="xacro_robot_package" value="$(arg xacro_robot_package_b)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_b)"/>
        <arg name="launch_robot_ekf_localization" value="$(arg ekf_localization_robot_b)"/>
        <arg name="robot_ekf_localization_mode" value="$(arg ekf_localization_mode_b)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_b)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_b)"/>
		<arg name="map_file" value="$(arg map_file_b)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_b)"/>
		<arg name="omni_drive" value="$(arg omni_drive)"/>
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="ros_planar_move_plugin_force_based" value="$(arg ros_planar_move_plugin_force_based)" />
		<arg name="launch_pad" value="$(arg launch_pad_b)"/>
        <arg name="launch_advanced_simulation" value="$(arg launch_advanced_simulation)"/>
        <arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
        <arg name="has_pantilt_camera" value="$(arg has_pantilt_camera_b)"/>
		<arg name="gps_latitude" value="$(arg gps_latitude_robot_b)"/>
		<arg name="gps_longitude" value="$(arg gps_longitude_robot_b)"/>
        <!-- robot_b arm args -->
        <arg name="launch_arm" value="$(arg launch_arm_b)"/>
		<arg name="arm_manufacturer" value="$(arg arm_manufacturer_b)"/>
		<arg name="arm_model" value="$(arg arm_model_b)"/>
		<arg name="launch_moveit" value="$(arg launch_moveit_b)"/>
    
	</include>

	<!--BEGIN ROBOT 3-->
	<include if="$(arg launch_robot_c)" file="$(find summit_xl_gazebo)/launch/summit_xl_one_robot.launch">
		<arg name="id_robot" value="$(arg id_robot_c)"/>
		<arg name="x_init_pose" value="$(arg x_init_pose_robot_c)"/>
		<arg name="y_init_pose" value="$(arg y_init_pose_robot_c)"/>
		<arg name="z_init_pose" value="$(arg z_init_pose_robot_c)"/>
		<arg name="xacro_robot_package" value="$(arg xacro_robot_package_c)"/>
		<arg name="xacro_robot" value="$(arg xacro_robot_c)"/>
        <arg name="launch_robot_ekf_localization" value="$(arg ekf_localization_robot_c)"/>
        <arg name="robot_ekf_localization_mode" value="$(arg ekf_localization_mode_c)"/>
		<arg name="launch_amcl_and_mapserver" value="$(arg amcl_and_mapserver_c)"/>
		<arg name="launch_gmapping" value="$(arg gmapping_robot_c)"/>
		<arg name="map_file" value="$(arg map_file_c)"/>
 		<arg name="launch_move_base" value="$(arg move_base_robot_c)"/>
		<arg name="omni_drive" value="$(arg omni_drive)"/>
		<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
		<arg name="ros_planar_move_plugin_force_based" value="$(arg ros_planar_move_plugin_force_based)" />
		<arg name="launch_pad" value="$(arg launch_pad_c)"/>
        <arg name="launch_advanced_simulation" value="$(arg launch_advanced_simulation)"/>
        <arg name="use_gpu_for_simulation" value="$(arg use_gpu_for_simulation)"/>
        <arg name="has_pantilt_camera" value="$(arg has_pantilt_camera_c)"/>
		<arg name="gps_latitude" value="$(arg gps_latitude_robot_c)"/>
		<arg name="gps_longitude" value="$(arg gps_longitude_robot_c)"/>
        <!-- robot_c arm args -->
        <arg name="launch_arm" value="$(arg launch_arm_c)"/>
		<arg name="arm_manufacturer" value="$(arg arm_manufacturer_c)"/>
		<arg name="arm_model" value="$(arg arm_model_c)"/>
		<arg name="launch_moveit" value="$(arg launch_moveit_c)"/>
	</include>


    <!-- gazebo simulation and rviz visualization-->
    <include file="$(find summit_xl_gazebo)/launch/gazebo_rviz.launch">
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
        <arg name="world" value="$(arg gazebo_world)"/>
        <arg name="debug" value="$(arg debug)"/>
		<arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    </include>

</launch>
