<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <!-- summit_xl_control launch file -->
  <include file="$(find summit_xl_control)/launch/summit_xl_omni_control.launch" />

  <!-- summit_xl_robot_control launch file -->
  <!-- Change to Kinematic mode 2 (omnidirectional) pressing R1+R2 -->
  <include file="$(find summit_xl_robot_control)/launch/summit_xl_omni_robot_control.launch" />


  <!-- summit_xl_joy launch file -->
  <!-- for this node to work correctly first you need to succesfully connect the ps3 joystick with:
		sudo su
		rosrun ps3joy sixpair
		rosrun ps3joy ps3joy.py
  -->
  <include file="$(find summit_xl_joystick)/launch/summit_xl_joy.launch" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find summit_xl_gazebo)/worlds/summit_xl.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- param name="robot_description"
         command="$(find xacro)/xacro.py '$(find summit_xl_description)/urdf/summit_xl.urdf'" / -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find summit_xl_description)/urdf/summit_xl_omni.urdf.xacro'" />

  <!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model summit_xl -param robot_description"/>

</launch>
