<?xml version="1.0"?>
<launch>
	
	<arg name="id_robot" default="summit_xl"/>
	<arg name="x_init_pose" default="0"/>
	<arg name="y_init_pose" default="0"/>
	<arg name="z_init_pose" default="0"/>
	<arg name="xacro_robot" default="summit_xl_multi.urdf.xacro"/>
	<arg name="launch_localization" default="false"/>
	<arg name="launch_navigation" default="false"/>
	<arg name="launch_navigation_nomap" default="false"/>
	<arg name="launch_gmapping" default="false"/>
	<arg name="load_map" default="empty/empty.yaml"/>
  
	<!-- BEGIN ROBOT-->
	<group ns="$(arg id_robot)">
	  
		<arg name="prefix" value="$(arg id_robot)_"/>		
		  
		<!-- Load the URDF into the ROS Parameter Server -->
		<param name="robot_description" 
		command="$(find xacro)/xacro '$(find summit_xl_description)/robots/$(arg xacro_robot)' prefix:=$(arg prefix) --inorder"/>

		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="/joint_states" to="joint_states" />
		</node>

		<!-- Spawner model into gazebo -->
		<node name="urdf_spawner_summit_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		 args="-x $(arg x_init_pose) -y $(arg y_init_pose) -z $(arg z_init_pose) -urdf -param robot_description -model $(arg id_robot)" />

		<!-- Load joint controller configurations from YAcd .ML file to parameter server -->
		<rosparam file="$(find summit_xl_gazebo)/config/$(arg prefix)control.yaml" command="load"/>  

		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		   output="screen" ns="/$(arg id_robot)" args="--shutdown-time 1 
					  summit_xl_control
                      joint_read_state_controller"/>
					  
		<node pkg="twist_mux" type="twist_mux" name="twist_mux">
			<rosparam command="load" file="$(find summit_xl_control)/config/twist_mux.yaml" />
			<remap from="cmd_vel_out" to="summit_xl_control/cmd_vel" />
		</node>

		<!-- pad -->
		<!--include file="$(find summit_xl_pad)/launch/summit_xl_pad.launch"/-->

		<!-- robot_localization nodes, publishes transformation world->odom->base_footprint -->
		<include if="$(arg launch_localization)" file="$(find summit_xl_localization)/launch/robot_localization_complete.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>/>

		<!-- use static_transform_publisher to define map->odom transform    -->
		<!-- only use if you aren´t using a localization algorithm like amcl -->
		<!--node if="$(arg fake_map_transform)" pkg="tf" type="static_transform_publisher" name="static_map_broadcaster" args="0 0 0 0 0 0 map $(arg namespace)odom 100" /-->
		
		<!-- amcl and move base-->
		<include if="$(arg launch_navigation)" file="$(find summit_xl_navigation)/launch/move_base_amcl.launch">
			<arg name="prefix" value="$(arg prefix)"/>
			<arg name="x_init_pose" value="$(arg x_init_pose)"/>
			<arg name="y_init_pose" value="$(arg y_init_pose)"/>
			<arg name="z_init_pose" value="$(arg z_init_pose)"/>
			<arg name="load_map" value="$(arg load_map)"/>
		</include>
		
		<!-- move base no map-->
		<include if="$(arg launch_navigation_nomap)" file="$(find summit_xl_navigation)/launch/move_base_amcl_nomap.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>
		
		<!-- gmapping -->
		<include if="$(arg launch_gmapping)" file="$(find summit_xl_navigation)/launch/summit_xl_gmapping.launch">
			<arg name="prefix" value="$(arg prefix)"/>
		</include>

	</group>

</launch>

