<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_base.gazebo.xacro" />
  <xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_base.urdf.xacro" />
  <xacro:include filename="$(find summit_xl_description)/urdf/wheels/rubber_wheel.urdf.xacro" /> 
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/hokuyo_urg04lx.urdf.xacro" />      
  <xacro:include filename="$(find summit_xl_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro" />     
  
  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_offset_x" value="0.229" />    <!-- x,y,z in base_link CS -->
  <xacro:property name="wheel_offset_y" value="0.234" />    <!-- y distance between base_link and the center of the wheel -->
  <xacro:property name="wheel_offset_z" value="0.0" />

<!--
  <xacro:property name="ptz_joint_effort_limit" value="100.0" /> 
  <xacro:property name="ptz_joint_velocity_limit" value="100.0"/>  
  <xacro:property name="ptz_joint_friction" value="0.1" />
  <xacro:property name="ptz_joint_damping" value="0.1" />
  <xacro:property name="ptz_mechanical_reduction" value="1.0" />
-->
  
  <xacro:summit_xl_base name="summit_xl" publish_bf="false" hq="true" />
  
  <xacro:summit_xl_skid_gazebo/>
  
    <!-- WHEELS -->

  <xacro:rubber_wheel name="front_right" parent="base_link" reflect="0" hq="true">
    <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>
  
  <xacro:rubber_wheel name="front_left" parent="base_link" reflect="1" hq="true">
    <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>
  
  <xacro:rubber_wheel name="back_left" parent="base_link" reflect="1" hq="true">
    <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>
  
  <xacro:rubber_wheel name="back_right" parent="base_link" reflect="0" hq="true">
    <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>



  <!-- IMU SENSOR -->
  <joint name="imu_joint" type="fixed">
      <axis xyz="1 0 0"/> <!-- 0 1 0 -->
      <origin xyz="0 0 0.2825"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
  </joint>

  <link name="imu_link">
      <inertial>
        <mass value="0.001"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".001 .001 .001"/>
        </geometry>
      </collision>
  </link>


  
<!--
  <xacro:sensor_hokuyo_urg04lx name="hokuyo1" parent="base_link">
    <origin xyz="0.0 0.0 0.36" rpy="0 0 0"/>
  </xacro:sensor_hokuyo_urg04lx>
-->
  
  <xacro:sensor_hokuyo_utm30lx name="hokuyo2" parent="base_link">
    <origin xyz="0.0 0.0 0.46" rpy="0 0 0"/>
  </xacro:sensor_hokuyo_utm30lx>

</robot>

